<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <rule name="AddTrailingSlash" stopProcessing="true">
              <match url="(\w*)\/+documentation$" />
              <action type="Redirect" url="https://api.medius.com/{R:0}/" redirectType="Permanent" />
            </rule>
            <rule name="o2c_files_api" stopProcessing="true">
              <match url="(\w*)\/+(documentation\/+)(o2c.html)" />
              <action type="Rewrite" url="/dist/{R:3}" />
            </rule>
            <rule name="static_files_api" stopProcessing="true">
              <match url="(\w*)\/+(documentation\/+)(.*\.js|.*\.css|.*\.png)" />
              <action type="Rewrite" url="/dist/{R:3}" />
            </rule>
            <rule name="o2c_files" stopProcessing="true">
              <match url="(\w*)\/+api\/+(documentation\/+)(o2c.html)" />
              <action type="Rewrite" url="/dist/{R:3}" />
            </rule>
            <rule name="static_files" stopProcessing="true">
              <match url="(\w*)\/+api\/+(documentation\/+)(.*\.js|.*\.css|.*\.png)" />
              <action type="Rewrite" url="/dist/{R:3}" />
            </rule>
            <rule name="redirect_api" stopProcessing="true">
              <match url="(\w*)\/+api\/+documentation\/*" />
              <action type="Redirect" url="https://api.medius.com/{R:1}/documentation/" />
            </rule>
            <rule name="index_page_api" stopProcessing="true">
              <match url="(\w*)\/+documentation\/*" />
              <action type="Rewrite" url="/dist/index.html?tenant={R:0}" />
            </rule>
        	</rules>
        </rewrite>
    </system.webServer>
</configuration>
